#Excluding the data, setup and calibration files from the git
data/*
setup/*
calibrations/*
!data/.gitkeep
!setup/.gitkeep
!calibrations/.gitkeep
#Excluding all build files from the git, the repository is to be build locally.
**/build/