# Exclude the data, setup and calibration files from git
data/*
setup/*
!data/.gitkeep
!setup/.gitkeep

# Exclude all build files (build locally)
**/build/

analysis/python/dataquality/implantation_analysis/

# Ignore JetBrains IDE project settings
.idea/

# Ignore all PDFs and PNGs
*.pdf
*.png

run_log.txt